[Desktop Entry]
Name=XV Image Viewer
Comment=An interactive image manipulation program
Exec=xv
Icon=/snap/xv/current/meta/gui/icon.png
Type=Application
Categories=Graphics;RasterGraphics;Viewer;
MimeType=image/gif;image/jpeg;image/tiff;image/postscript;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-ms-bmp;image/cmu-raster;image/x-rgb;image/targa;image/fits;image/png;image/pm;image/webp;image/jp2;image/jpx;image/jpm;image/g3fax
